.body_bg{
	background-color: black;
}

.table_st{
	width: 100%;
	border-collapse: collapse;
	float: center;
}

.column_st{
	border: solid;
	background-color: yellow;
	height: 98vh;
}

.column_st2{
	border: solid;
	background-color: red;
}